<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="emailServiceAPIKey" value="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" />
    <add key="emailServiceUserName" value="azure_db056642c7514ee0d9e779cec8f040a7@azure.com" />
    <add key="emailServicePassword" value="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" />
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
  <connectionStrings>
    <clear/>
    <add name="LocalSqlServer" connectionString="Data Source=YourServerName;Integrated Security=true;Initial Catalog=YourDataBaseName" providerName="System.Data.SqlClient"/>
    <!--<add name="constr" connectionString="Data Source=ROBERTBENTLEY\SQLEXPRESS;Initial Catalog=Client;Integrated Security=True"/>-->
    <!--<add name="constr" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\ClientLogin.mdf;Integrated Security=True;User Instance=True" providerName="System.Data.SqlClient"/>-->
    <!--<add name="constr" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=App_Data\ClientLogin.mdf;Integrated Security=True;User Instance=True"/>-->
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
  <pages>
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
      </controls>
    </pages>
    <!--<customErrors mode="Off"/>-->
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.3.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.3.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>